<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
    The default notification permission behavior changed in Android 13.
    https://developer.android.com/develop/ui/views/notifications/notification-permission
     -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" android:required="true"/>
    <!--
    Foreground Services are a "normal" permission so the system grants it automatically.
    But just to be safe I'm doing it here too.
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!--
    Camera permission for taking pictures to upload to the service. Is non-essential.
    -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--
    Used to store images if the user wants to save them. Non-essential
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:networkSecurityConfig="@xml/network_security_config"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <category android:name="android.intent.category.BROWSABLE"/>
          <data android:scheme="tricordarr" />
        </intent-filter>
      </activity>
    </application>
</manifest>
